.button {
    width: 180.5px;
    height: 42px;
    background-color: $title-color;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    margin-top: 29px;
    cursor: pointer;
    outline: none;
}
