.portfolio {
    padding: 112px 0 96px 0;
    background-color: #f6f6f6;
    text-align: center;

    &__items {
        margin-top: 47px;
    }

    &__item {
        margin-top: 99px;
        &:first-child {
            margin-top: 0;
        }

        img {
            display: block;
            margin: 0 auto;
        }

        a {
            display: block;
            margin: 0 auto;
            margin-top: 45px;
        }
    }
}
