.input {
   display: block;
   width: 268px;
   height: 45px;
   padding: 18px 28px 18px 28px;
   margin-right: 4px;
   border-radius: 30px;
   border: 1px solid rgba(0, 0, 0, 0.21);
   color: rgba($color: #101010, $alpha: 0.7);
   font-size: 13px;
   font-weight: 300;
   line-height: 24px;
   outline: none;
}
