.work {
   padding: 51px 0 57px 0;

   .row {
      margin-top: 37px;
   }

   &__title {
      margin-top: 28px;
      text-align: center;
      color: $main-color;
      font-size: 18px;
      font-weight: 700;
   }

   &__descr {
      text-align: center;
      color: $text-color;
      font-size: 14px;
      font-weight: 300;
      line-height: 22px;
   }
}
