doctype html
html
    head
        style
            include css/app.css
    body
        include temp/blocks/header
        include temp/blocks/about
        include temp/blocks/skills
        include temp/blocks/portfolio
        include temp/blocks/footer
        script
            include js/script.js