section.about
    .container
        h2(class="about__title title") About me
        div(class="about__descr text") Hi, I'm Denis – UX/UI designer from Minsk.
            br
            |I'm interested in design and everything connected with it.
            br
            br
            br
            |I'm studying at courses "Web and mobile design
            br
            |interfaces" in IT-Academy.
            br
            br
            br
            |Ready to implement excellent projects
            br
            |with wonderful people.